/* Configurações Gerais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--fundo-principal);
  line-height: 1.5em;
}

/* Configurações do Header */

header {
  background-color: var(--destaque);
  padding: 12px 10px;
  display: flex;
  justify-content: flex-end;
}

header > nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

header > nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: all 0.5s;
}

header > nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

/* Configurações do Main */

main {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}

/* Configurações da Seção de Ficha */

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
  margin-top: 20px;
}

section#ficha img.foto {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--fundo-card);
  outline: 3px solid var(--destaque);
}

section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0px;
  text-align: center;
}

section#ficha p {
  text-align: justify;
  margin-bottom: 15px;
}

section#ficha div#social {
  display: flex;
  justify-content: center;
  gap: 0.8em;
  font-size: 1.5em;
}

section#ficha div#social > a {
  color: var(--destaque);
  transition: all 0.5s;
}

section#ficha div#social > a:hover {
  color: var(--destaque-inverso);
}

/* Configuração da Seção de Detalhes */

section#detalhes {
  grid-column: 2;
}

article h2 {
  color: var(--destaque);
  margin-bottom: 15px;
}

section#detalhes article {
  background-color: var(--fundo-card);
  margin: 20px 0px;
  border-radius: 8px;
  padding: 20px;
}

/* Configurações da Apresentação */

div.video-conteiner {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  margin: auto;
}

div.video-conteiner iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* Configurações das Skills */

div#skills-conteiner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

div.info {
  display: flex;
  justify-content: space-between;
}

div.info span.nome {
  font-weight: bolder;
  color: var(--texto);
}

div.info span.porcentagem {
  font-weight: bolder;
  color: var(--destaque);
}

div.barra {
  width: 100%;
  height: 10px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
}

div.barra div.progresso {
  height: 100%;
  background-color: var(--destaque-inverso);
  border-radius: 4px;
}

/* Configurações das Formações */



/* Configurações dos Projetos */



/* Configurações do Rodapé */

/* Configurações adicionais */

@media screen and (min-width: 768px) {
  div#skills-conteiner {
    grid-template-columns: 1fr 1fr;
  }
}